
.datpickerbackgrounf{
    background: white;
    border: .5px solid #dfdcd7;
    color: black;
    width: 100%;
}
.datpickerSelecter{
    background: white;
    color: black;
}
.mat-form-field-appearance-fill .mat-form-field-flex
{
    background-color:red;
}
.mat-form-field-prefix .mat-icon-button, .mat-form-field-suffix .mat-icon-button
{
    color: black !important;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button{    
    color: black !important;
}
.mat-form-field-appearance-fill .mat-form-field-infix
{
    
    background-color:red !important;
}
mat-form-field-infix
{
    background-color:red !important;
}
