<section class="mb-8">
    <div class="container">
        <div class="pt-5 pb-5">
            <div id="Category"  data-target-group="idForm">
                <div id="content" class="site-content bg-punch-light space-bottom-3">
                    <div class="col-full container">
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main">
                                <article id="post-6" class="post-6 page type-page status-publish hentry">
                                    <!-- .entry-header -->
                                    <div class="entry-content">
                                        <div class="woocommerce">                        
                
                                            <form [formGroup]="createCoverForm" (submit)=onSubmit(createCoverForm)>
                                                <div class="" id="customer_details">
                                                    <div class="px-4 pt-5 bg-white border">
                                                        <div class="woocommerce-billing-fields">                
                                                            <h3 class="mb-4 font-size-3">Cover </h3>
                
                                                            <div class="woocommerce-billing-fields__field-wrapper row">
                                                               
                                                                <p class="col-12 mb-4d75 form-row form-row-wide" id="billing_company_field" data-priority="30">  
                                                                    <input formControlName="ID" type="hidden" id="ID" name="ID">
                                                                </p>
                                                               
                                                                <div class="col-12 mb-3 form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                                    <label for="CoverType" class="form-label">Cover Type <abbr class="required" title="required">*</abbr></label>
                                                                    <input formControlName="CoverType" [ngClass]="{ 'is-invalid': submitted && f.CoverType.errors }" type="text" class="input-text form-control" name="CoverType" id="CoverType" placeholder="Cover Type" value=""/>    
                                                                    <div *ngIf="submitted && f.CoverType.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.CoverType.errors.required">CoverType is required</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row place-order">
                                                                <input type="submit" class="button alt btn btn-dark btn-block rounded-0 py-4" name="woocommerce_checkout_place_order" id="place_order" value="submit" data-value="submit">
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- .entry-content -->
                                </article>
                                <!-- #post-## -->
                            </main>
                            <!-- #main -->
                        </div>
                        <!-- #primary -->
                    </div>
                    <!-- .col-full -->
                </div>
            </div>
        </div>
    </div>
</section>
