/* 
.datpickerbackgrounf{
    background: white;
    border: .5px solid #dfdcd7;
    color: black;
    width: 100%;
}
.datpickerSelecter{
    background: white;
    color: black;
}
.mat-form-field-appearance-fill .mat-form-field-flex
{
    background-color:red;
}
.mat-form-field-prefix .mat-icon-button, .mat-form-field-suffix .mat-icon-button
{
    color: black !important;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button{    
    color: black !important;
}
.mat-form-field-appearance-fill .mat-form-field-infix
{
    
    background-color:red !important;
}
mat-form-field-infix
{
    background-color:red !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
    color: black;
}
mat-form-field {
    font-size: 14px;
    border: black;
    border-color: black;
    color: black;
    font-size: larger;
  }
  input.mat-input-element{
      border: black;
      color: black;
  }

.mat-cell, .mat-footer-cell{
    color: #050000;
    
}
.mat-header-cell{
    color: #050000;
    border-width : thin;
    background-color: rgb(163, 150, 221);
}
mat-header-row, mat-footer-row
{
    background-color: rgb(163, 150, 221);
}
mat-header-row cdk-header-row{
    background-color:black;
}
.space-2, .space-top-2
{
padding-top: 1rem !important;
}
.space-1, .space-bottom-1
{
    padding-bottom:0rem !important;
}
.mb-2, .my-2
{
    margin-bottom:-0.5rem !important;
}
td, th {
    width: 10%;
  }
  table {
    width: 100%;
    background-color: white;
    color: black;
  }
  .mat-column-UnitID {
    text-align: right;
  }
.mat-row:nth-child(even){
    background-color:#d8d8d8;
    }

.mat-row:nth-child(odd){
    background-color:#f7f4f3 !important;
    }
    ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
        background-color:black !important;
        border: thick;
      }
      .my-form-field.mat-form-field-appearance-legacy .mat-input-element {
        caret-color: black;
      color: black;
    }
            
              .mat-header-cell, .mat-sort-header {
                background-color: darksalmon;
              }
               
              :host ::ng-deep .mat-sort-header-container {
                display: flex;
                justify-content: center;
                font-size: medium;
                font-weight: bold;
                text-decoration:underline;
              }
              :host ::ng-deep .mat-select-value{
                  color: black !important;
              }
              :host ::ng-deep mat-header-row[_ngcontent-geu-c185], mat-footer-row[_ngcontent-geu-c185]
              {
                background-color: darksalmon !important;
              }
              mat-header-row{
                background-color: darksalmon !important;
              }
              :host ::ng-deep input.mat-input-element
              {
                  color: black !important;
              } */