<section class="mb-8">
    <div class="container">
        <div class="pt-5 pb-5">
            <div id="Category"  data-target-group="idForm">
                <div id="content" class="site-content bg-punch-light space-bottom-3">
                    <div class="col-full container">
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main">
                                <article id="post-6" class="post-6 page type-page status-publish hentry">
                                    <!-- .entry-header -->
                                    <div class="entry-content">
                                        <div class="woocommerce">                        
                
                                            <form [formGroup]="createUnitCategoryForm" (submit)=onSubmit(createUnitCategoryForm)>
                                                <div class="" id="customer_details">
                                                    <div class="px-4 pt-5 bg-white border">
                                                        <div class="woocommerce-billing-fields">                
                                                            <h3 class="mb-4 font-size-3">Unit Category </h3>
                
                                                            <div class="woocommerce-billing-fields__field-wrapper row">
                                                               
                                                                <p class="col-12 mb-4d75 form-row form-row-wide" id="billing_company_field" data-priority="30">  
                                                                    <input formControlName="UnitCatogoryID" type="hidden" id="UnitCatogoryID" name="UnitCatogoryID">
                                                                </p>
                                                               
                                                                <div class="col-12 mb-3 form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                                    <label for="UnitCatogory" class="form-label">Unit Catogory <abbr class="required" title="required">*</abbr></label>
                                                                    <input formControlName="UnitCatogory" [ngClass]="{ 'is-invalid': submitted && f.UnitCatogory.errors }" type="text" class="input-text form-control" name="UnitCatogory" id="UnitCatogory" placeholder="Unit Catogory " value=""/>    
                                                                    <div *ngIf="submitted && f.UnitCatogory.errors" class="invalid-feedback">
                                                                        <div *ngIf="f.UnitCatogory.errors.required">Unit Catogory is required</div>
                                                                    </div>
                                                                </div>    
                                                                <div class="col-12 mb-3 form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                                    <label for="Rate" class="form-label">Rate <abbr class="required" title="required">*</abbr></label>
                                                                    <input formControlName="Rate" type="number" class="input-text form-control" name="Rate" id="Rate" placeholder="Rate" value=""/>    
                                                                 
                                                                </div>                                                                
                                                            </div>
                                                            <div class="form-row place-order">
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-2"> <button type="submit" class="btn btn-primary">Submit</button></div>
                                                                <div class = "col-md-2"><button type="button" (click)="Cancel()" class="btn btn-primary">Cancel</button></div>
                                                                <div class="col-md-4"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- .entry-content -->
                                </article>
                                <!-- #post-## -->
                            </main>
                            <!-- #main -->
                        </div>
                        <!-- #primary -->
                    </div>
                    <!-- .col-full -->
                </div>
            </div>
        </div>
    </div>
</section>
